<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="CSS/estilo.css" media="screen">
    <link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap.css" media="screen">
</head>
<body>
    <div class="jumbotron">
        <button type="button" onclick="window.location.href='/Cadastro'">Cadastrar</button>
        <button type="button" onclick="window.location.href='/Login'">Login</button>
    </div>
</body>
</html>