<!DOCTYPE html>
<head>
    <script src="Javascript/script.js"></script>
    <title>Jogo</title>
    <link rel="stylesheet" type="text/css" href="CSS/estilo.css" media="screen">
    <link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap.css" media="screen">
</head>
<body>
</body>
</html>