<!DOCTYPE html>
<head>
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="CSS/estilo.css" media="screen">
    <script src="/Javascript/script.js"></script>
    <link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap.css" media="screen">
</head>
<body>
    <div class="jumbotron">
        <h2><%= nome %></h2>
        <form action="/NovaSenha" method="POST" id="conteudo">
            <button type="button" onclick="Gerar()" id="">Alterar senha</button>
        </form>
    </div>
</body>
</html>